<html>
<head>
	<title>ZabmaVPN</title>
	<link rel="stylesheet" href="{{ url_for('static',filename='css/bootstrap.min.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
	<script src="{{ url_for('static', filename='js/jquery-1.11.3.min.js') }}"></script>
	<script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
	<script src="{{ url_for('static', filename='js/static.js') }}"></script>
	<link href='http://fonts.googleapis.com/css?family=Permanent+Marker' rel='stylesheet' type='text/css'>
</head>
<body>
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div id="wc-title"> {{ title }}</div>
			</div>

		</div>
		<div class="row">
			<div class="col-md-5 col-md-offset-3">
				<div class="panel panel-default reset-panel">
				  	<div class="panel-heading">
						<ul class="nav nav-tabs nav-justified" id="myTabs">
						  <li id="changeTab" class="active"><a href="#">Change Password</a></li>
						  <li id="resetTab"><a href="#">Reset password</a></li>
						</ul>
				  	</div>
				  	<div class="panel-body">
				    	<form id="form-change">
							<div class="form-group">
							    <label for="inputUsername">Username</label>
							    <input type="text" class="form-control" id="inputUsername" name="inputUsername" placeholder="Username" required>
							</div>
							<div class="form-group">
							    <label for="inputPassword">Password</label>
							    <input type="password" class="form-control" id="inputPassword" name="inputPassword" placeholder="Password" required>
							</div>
							   <div class="form-group">
							    <label for="inputNewPassword">New password </label>
							    (Password is more than 8 characers and has at least 1 number)
							    <input type="password" class="form-control" id="inputNewPassword" name="inputNewPassword" placeholder="Password" required>
								</div>
							<div class="form-group">
							    <label for="inputRetypeNewPassword">Retype new password</label>
							    <input type="password" class="form-control" id="inputRetypeNewPassword" name="inputRetypeNewPassword" placeholder="Password" required>
							</div>	
							<div id="alert-change" class="alert alert-danger">
								  <strong>Danger!</strong> 
							</div>

							<div id="success-change" class="alert alert-success">
								  <strong>Success!</strong> 
							</div>
									
							<button type="button" id="button-changepass" class="btn btn-success btn-lg btn-block">Change password</button>
						</form>
						

						<form id="form-reset">
							<div class="form-group">
							    <label for="inputResetUsername">Username</label>
							    <input type="text" class="form-control" id="inputResetUsername" name="inputUsername" placeholder="Username" required>
							</div>
							<div id="alert-reset" class="alert alert-danger">
								  <strong>Danger!</strong> 
							</div>
							<div id="success-reset" class="alert alert-success">
								  <strong>Success!</strong> 
							</div>
							<button type="button" id="ResetSubmit" class="btn btn-success btn-lg btn-block">Reset</button>
						</form>
				  	</div>
				</div>
			</div>
		</div>

	</div> <!-- end container -->
</body>
</html>