<html>
<head>
	<title>ZabmaVPN</title>
	<link rel="stylesheet" href="{{ url_for('static',filename='css/bootstrap.min.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
	<!--<script src="{{ url_for('static', filename='js/static.js') }}"></script>-->
</head>
<body>
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="alert alert-success" role="alert"><center><h3>{{ title }}</h3></center></div>
			</div>

	</div> <!-- end container -->
</body>
</html>